{% extends "base.html" %}
{% block title %}Scan - {% endblock %}
{% block content %}
<div id="loading"></div>
<form action="/start" method="post">
    <p>To begin a scan, enter details below.</p>
    <div class="text-field">
        <input type="text"  name="ip" autocomplete="off" required/>
        <label for="ip" class="label-name">
            <span class="content-name">IP Address</span>
        </label>
    </div>
    <br>
    {% for flag in flags %}
    <label class="check">
        <input type="checkbox" id={{flag}} name="flag" value={{flag}}>
        {{flag}}
        <span></span>
    </label>
    {% endfor %}
    <br>
    <br>
    <p><button class="buttons" type="submit" onclick="loading()">Begin Scan</button></p>
</form>
<br>
<p>A scan may take some time, perhaps a redirect to the results page or something.</p>
<p>Need help with flags? Check out the  <a href=https://nmap.org/book/man.html>Nmap man page</a>. </p>
{% endblock %}
<script type="text/javascript">
    function loading() {
        $("#loading").show();
        $("#content").hide();
    }