{% extends "base.html" %}
{% block title %}Presets - {% endblock %}
{% block content %}
<div class="content">
    {% if presets|length < 1 %}
    <h4 style="text-align: center">There are no presets. Create one below!</h4>
    {% else %}
    <table class="preset-table">
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
        {% for preset in presets %}
            <tr>
                <td>{{presets[preset]["Name"]}}</td>
                <td>{{presets[preset]["Details"]}}</td>
                <td>
                    <a class="small_button" href="/update/{{preset}}">Update</a>
                    <br>
                    <a class="small_button" href="/delete/{{preset}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <div class="form">
        <form action="/presets" method="POST">
            <div class="preset-text-field">
            <input type="text" name="user_input" autocomplete="off" required>
            <label for="user_input" class="label-name">
                <span class="content-name">Preset name: IP address Flags</span>
            </label>
            </div>
            <br>
            <input class="buttons" type="submit" value="Add Preset">
        </form>
    </div>
</div>
{% endblock %}
