{% extends "base.html" %}
{% block title %}Presets - {% endblock %}
{% block content %}
<div class="form">
    <form action="/update/{{preset}}" method="POST">
        <div class="text-field">
        <input type="text" name="user_input" autocomplete="off" required>
        <label for="user_input" class="label-name">
            <span class="content-name">{{details}}</span>
        </label>
        </div>
        <input class ="buttons" type="submit" value="Confirm">
    </form>
</div>
{% endblock %}